<div id="<%= dom_id project_space %>" class="rounded-lg border bg-white text-card-foreground shadow-sm">
  <div class="p-6 flex flex-col gap-2 md:gap-0 md:flex-row md:items-center justify-between">
    <div class="grid gap-1">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">
        <%= link_to project_space.title, project_space.project %>
      </h3>
      
      <h4>
        <%= link_to "#{project_space.project.parent_project.title}", project_space.project.parent_project %> 
        <span> > </span>
        <%= link_to "#{project_space.project.title}", project_space.project %>
      </h4>
    </div>

    <div>
      <%= link_to "Edit Space", edit_project_space_path(project_space.project_id, project_space), class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary border hover:border-gray-300 h-10 px-4 py-2" %>
    </div>
  </div>
</div>