<div class="flex flex-col">
  <%= render partial: "shared/flash_message" %>

  <div class="rounded-lg border bg-white text-card-foreground shadow-sm">
    <div class="p-6 flex flex-col gap-2 md:gap-0 md:flex-row md:items-center justify-between">
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">
          <%= link_to @project.title, @project %>
        </h3>
        
        <h4>
          <% if @project.is_master %>
            <%= @project.combined_clients_name %>
          <% else %>
            <%= link_to @project.parent_project.title, @project.parent_project %>
          <% end %>
        </h4>
      </div>
      
      <div>
        <%= link_to "Edit Project", edit_project_path(@project), class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary border hover:border-gray-300 h-10 px-4 py-2" %>
      </div>
    </div>
  </div>

  <div class="rounded-lg border bg-white text-card-foreground shadow-sm mt-4">
    <div class="space-y-1.5 p-6 flex flex-col gap-4">
      <div class="flex justify-between">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">
          Projects
        </h3>

        <div class="flex items-center text-sm gap-2">
          <%= link_to "Add Project", new_project_path(parent_project_id: @project.id), class: "cursor-pointer inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-7 px-2 py-1" %>
        </div>
      </div>

      <div class="relative w-full overflow-auto">
        <table class="w-full caption-bottom text-sm">
          <thead class="[&amp;_tr]:border-b">
            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
              <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                Title
              </th>
            </tr>
          </thead>
          <tbody class="[&amp;_tr:last-child]:border-0">
            <% @project.sub_projects.each do |sub_project| %>
            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
              <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">
                <%= link_to sub_project.title, sub_project %>
                (<%= "#{sub_project.project_spaces.count} " + "Space".pluralize(sub_project.project_spaces.count) %>)
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="flex items-center text-sm gap-2">
        <%= link_to "Mood Board", project_path(@project, mood_board: true), class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary border hover:border-gray-300 h-10 px-4 py-2" %>
        <%= link_to "Table View", project_path(@project, table_view: true), class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary border hover:border-gray-300 h-10 px-4 py-2" %>
      </div>
    </div>
  </div>

  <%= render partial: "projects/project_quotes", locals: { project: @project } %>
  <%= render partial: "projects/project_invoices", locals: { project: @project } %>

  <% if Current.user.organization_user? %>
  <%= render partial: "projects/project_clients", locals: { project: @project } %>
  <% end %>
</div>
