<div id="<%= dom_id project %>" class="rounded-lg border bg-white text-card-foreground shadow-sm">
  <div class="w-full h-64 border-b bg-gray-50 rounded-t-lg">
    <%= link_to(project) do %>
      <% if project.image.attached? %>
      <%= image_tag(project.image, class: "object-bottom object-cover h-full w-full rounded-t-lg") %>
      <% else %>
      <%= image_tag("project_placeholder.png", class: "object-bottom object-cover h-full w-full rounded-t-lg") %>
      <% end %>
    <% end %>
  </div>

  <div class="space-y-1.5 p-4 flex flex-row items-center">
    <div class="grid gap-1">
      <h3 class="text-lg font-semibold leading-none tracking-tight">
        <%= link_to project.title, project %>
      </h3>
      
      <h4 class="text-sm">
        <% if project.is_master %>
          <%= project.combined_clients_name %>
        <% else %>
          <%= link_to project.parent_project.title, project.parent_project %>
        <% end %>
      </h4>
    </div>
  </div>
</div>